{% if wrap_with_field %}
<div class="field{% if classes.field_css_class %} {{ classes.field_css_class }}{% endif %}">{% endif %}

  {% block label %}
  {% include 'bulma/forms/field_label.html' %}
  {% endblock label %}
  <div class="control {{ classes.control }} {% block control_class %}{% endblock control_class %}"
       {% if field.auto_id %}id="{{ field.auto_id }}" {% endif %}>
    {% block control %}
    {{ field }}
    {% endblock control %}

    {% block icon_left %}
    {% include 'bulma/forms/field_icon_left.html' %}
    {% endblock icon_left %}

    {% block icon_right %}
    {% include 'bulma/forms/field_icon_right.html' %}
    {% endblock icon_right %}

    {% block errors %}
    {% include 'bulma/forms/field_errors.html' %}
    {% endblock errors %}

    {% block help %}
    {% include 'bulma/forms/field_help.html' %}
    {% endblock help %}
  </div>

  {% if wrap_with_field %}
</div>{% endif %}