{% if control_only is False %}
<div class="field{% if classes.field_css_class %} {{ classes.field_css_class }}{% endif %}">{% endif %}

  {% block label %}
      {% if control_only is False %}
        {% include 'bulma/forms/field_label.html' %}
      {% endif %}
  {% endblock label %}
  {% if is_horizontal %}
      <div class="field-body"><div class="field">
  {% endif %}
  <div class="control {{ classes.control }} {% block control_class %}{% endblock control_class %}"
       {% if field.auto_id %}id="{{ field.auto_id }}" {% endif %}>
    {% block control %}
    {{ field }}
    {% endblock control %}

    {% block icon_left %}
    {% include 'bulma/forms/field_icon_left.html' %}
    {% endblock icon_left %}

    {% block icon_right %}
    {% include 'bulma/forms/field_icon_right.html' %}
    {% endblock icon_right %}

    {% block errors %}
    {% include 'bulma/forms/field_errors.html' %}
    {% endblock errors %}

    {% block help %}
    {% include 'bulma/forms/field_help.html' %}
    {% endblock help %}
  </div>

  {% if is_horizontal %}
      </div></div>
  {% endif %}

  {% if control_only is False %}
</div>{% endif %}