{% extends 'base.html' %}
{% load bulma_tags %}

{% block content %}

	<div class="section">
		<h2 class="title">All inputs</h2>
		<form method="post" enctype="multipart/form-data" action="{% url 'showcase:form' %}" novalidate>
			{% csrf_token %}
			{% bulma_form form %}
			<button class="button is-primary">Submit</button>
		</form>
	</div>

	<div class="section">
		<h2 class="title">Inline (no label)</h2>
		{% bulma_field form.text %}
		{% bulma_field form.checkboxes %}
		{% bulma_field form.file inline=True %}
	</div>

	<div class="section">
		<h2 class="title">Inputs with icons</h2>
		{% bulma_field form.text icon_left="far fa-user" icon_right="far fa-arrow-alt-circle-right" %}
		{% bulma_field form.select icon_left="far fa-user" icon_right="far fa-arrow-alt-circle-right" %}
		{% bulma_field form.textarea icon_left="far fa-user" icon_right="far fa-arrow-alt-circle-right" %}
		{% bulma_field form.radios icon_left="far fa-user" icon_right="far fa-arrow-alt-circle-right" %}
		{% bulma_field form.file icon_left="far fa-user" icon_right="far fa-arrow-alt-circle-right" %}
		{% bulma_field form.checkbox icon_left="far fa-user" icon_right="far fa-arrow-alt-circle-right" %}
		{% bulma_field form.checkboxes icon_left="far fa-user" icon_right="far fa-arrow-alt-circle-right" %}

{#		{% bulma_addons css_class="has-addons-centered" %}#}
{#		{% bulma_field form.text icon_left="far fa-user" icon_right="far fa-arrow-alt-circle-right" %}#}
{#		{% bulma_field form.select icon_left="far fa-user" %}#}
{#		{% endbulma_addons %}#}

		<div class="field has-addons has-addons-centered">
			{% bulma_field form.text inline=True control_only=True icon_left="far fa-user" icon_right="far fa-arrow-alt-circle-right" %}
			{% bulma_field form.select inline=True control_only=True icon_left="far fa-user" %}
		</div>
	</div>

	<div class="section">
		<h2 class="title">Input with a template</h2>
		{% bulma_field form.textarea field_template='showcase/field_templates/custom_textarea.html' %}
	</div>

{% endblock %}
