{% extends 'base.html' %}
{% load bulma_tags %}

{% block content %}

	<div class="section">
		<h2 class="title">All inputs</h2>
		<form method="post" enctype="multipart/form-data" action="{% url 'showcase:form' %}" novalidate>
			{% csrf_token %}
			{% bulma form %}
			<button class="button is-primary">Submit</button>
		</form>
	</div>

	<div class="section">
		<h2 class="title">Inline (no label)</h2>
		{% bulma_inline form.text %}
		{% bulma_inline form.checkboxes %}
		{% bulma form.file inline=True %}
	</div>

	<div class="section">
		<h2 class="title">Inputs with icons</h2>
		{% bulma form.text icon_left="far fa-user" icon_right="far fa-arrow-alt-circle-right" %}
		{% bulma form.select icon_left="far fa-user" icon_right="far fa-arrow-alt-circle-right" %}
		{% bulma form.textarea icon_left="far fa-user" icon_right="far fa-arrow-alt-circle-right" %}
		{% bulma form.radios icon_left="far fa-user" icon_right="far fa-arrow-alt-circle-right" %}
		{% bulma form.file icon_left="far fa-user" icon_right="far fa-arrow-alt-circle-right" %}
		{% bulma form.checkbox icon_left="far fa-user" icon_right="far fa-arrow-alt-circle-right" %}
		{% bulma form.checkboxes icon_left="far fa-user" icon_right="far fa-arrow-alt-circle-right" %}

		{% bulma_addons css_class="has-addons-centered" %}
		{% bulma form.text icon_left="far fa-user" icon_right="far fa-arrow-alt-circle-right" %}
		{% bulma form.select icon_left="far fa-user" %}
		{% endbulma_addons %}

		<div class="field has-addons has-addons-centered">
			{% bulma form.text inline=True wrap_with_field=False icon_left="far fa-user" icon_right="far fa-arrow-alt-circle-right" %}
			{% bulma form.select inline=True wrap_with_field=False icon_left="far fa-user" %}
		</div>
	</div>

	<div class="section">
		<h2 class="title">Input with a template</h2>
		{% bulma form.textarea field_template='showcase/field_templates/custom_textarea.html' %}
	</div>

{% endblock %}
