{% load bulma_tags %}
{% with bpurl=bulma_pagination_url|default:"" %}
<nav class="{{ pagination_css_classes }}" role="navigation" aria-label="pagination">

    {% if current_page == 1 %}
          <a class="pagination-previous" disabled>&laquo;</a>
      {% else %}
          <a class="pagination-previous" href="{% bulma_url_replace_param bpurl parameter_name 1 %}">&laquo;</a>
      {% endif %}

      {% if current_page == num_pages %}
          <a class="pagination-next" disabled>&raquo;</a>
      {% else %}
          <a class="pagination-next" href="{% bulma_url_replace_param bpurl parameter_name num_pages %}">&raquo;</a>
      {% endif %}
    <ul class="pagination-list">

        {% for p in pages_shown %}
            {% if current_page == p %}
                <li>
                    <a class="pagination-link is-current">{{ p }}</a>
                </li>
            {% else %}
                <li>
                    <a class="pagination-link" href="{% bulma_url_replace_param bpurl parameter_name p %}">{{ p }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endwith %}