{% extends "bulma/forms/field.html" %}
{% load bulma_tags %}

{% block control %}
<label class="file-label">
  {% render_field_widget field widget_attrs "file-input" %}
  <span class="file-cta">
    <span class="icon file-icon is-{{ icon_left_size }} is-left">
      {% if css_classes.icon_left %}
        <i class="{{ css_classes.icon_left }}"></i>
      {% else %}
        <i class="fa fa-upload"></i>
      {% endif %}
    </span>

    <span class="file-label">
      Choose a file…
    </span>
  </span>
</label>
{% endblock control %}

{% block icon_left %}{% endblock icon_left %}
{% block icon_right %}{% endblock icon_right %}
