{% extends "bulma/forms/field_without_icons.html" %}
{% load bulma_tags %}

{% block control %}
<label class="file-label">
  {% render_field_widget field widget_attrs "file-input" %}
  <span class="file-cta">
    <span class="icon file-icon is-left{% if icon_left_container %} {{ icon_left_container }}{% endif %}">
      {% if css_classes.icon_left %}
        <i class="{{ css_classes.icon_left }}"></i>
      {% else %}
        <i class="fa fa-upload"></i>
      {% endif %}
    </span>

    <span class="file-label">
      Choose a file…
    </span>
  </span>
</label>
{% endblock control %}
